body,html {
    font-family: Arial, sans-serif;
    background-image:url("bg.jpg");
    background-repeat: no-repeat; 
    height: 100%;
}

#todo-container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 8px 20px;
    cursor: pointer;
    margin-right: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}
